<div id="home" class="current">

    <h2>Start Here</h2>
    <%= render :partial => 'shared/global_links' %>

    <div class="info">
        <p>
            Add this page to your home screen to view the custom icon, startup screen, and full screen mode.
        </p>
    </div>
</div>
<div class="info">
    <p>
        <%= configatron.site_name %> Mobile
    </p>
</div>
