<div id="home" class="current">
    <h2>Access</h2>
    <%= render :partial => 'shared/global_links' %>
    <h2>External Links</h2>
    <ul class="rounded">
        <li class="forward">
            <a href="http://www.jqtouch.com/" target="_blank">Homepage</a>
        </li>
        <li class="forward">
            <a href="http://www.twitter.com/jqtouch" target="_blank">Twitter</a>
        </li>
        <li class="forward">
            <a href="http://code.google.com/p/jqtouch/w/list" target="_blank">Google Code</a>
        </li>
    </ul>
    <div class="info">
        <p>
            Add this page to your home screen to view the custom icon, startup screen, and full screen mode.
        </p>
    </div>
</div>
<div class="info">
    <p>
        <%= configatron.site_name %>Mobile
    </p>
</div>
