        <form action="/session" method="post" id="login" accept-charset="utf-8">
            <div class="toolbar">
                <h1>Login</h1>
            </div>
            <ul class="rounded">
                <li>
                    <input id="login" name="login" value="" type="text" placeholder="Username">
                </li>
                <li>
                    <input id="password" name="password" value="" type="password" placeholder="Password">
                </li>
	
				<li>Remember me?<span class="toggle"><input id="remember_me" name="remember_me" type="checkbox" /></span></li>
				
            </ul>
			
			<ul>
            	<li><a href="#signup" class="flip">Not signed up? Do it now!</a></li>
            </ul>
			<a class="whiteButton submit">Login</a>
            <a class="grayButton goback">Cancel</a>
        </form>